<div class="">
  <footer class="footer text-white text-center">

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <h3 class="">LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <h3 class="">AROUND THE WEB</h3>
            <ul class="list-unstyled d-flex justify-content-center gap-3">
              <li><i class="fa-brands fa-facebook text-white icon"></i></li>
              <li><i class="fa-brands fa-twitter text-white icon"></i></li>
              <li><i class="fa-brands fa-linkedin text-white icon"></i></li>
              <li><i class="fa-solid fa-globe text-white icon"></i></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <h3 class="">ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
      </div>
    </div>








  </footer>

  <div class="copy text-white text-center">
    <p>Copyright © Your Website 2021</p>
  </div>
</div>


