<div class="home d-flex justify-content-center align-items-center">
  <div class="text-center">
    <img [src]="imgPath" class="mb-3">
    <div class="text-center">
      <h2 class="text-uppercase text-white text-center mb-3">start Framework</h2>
      <div class="d-flex justify-content-center align-items-center mb-3 text-white">
        <div class="line bg-white me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line bg-white ms-3"></div>
      </div>
    </div>
    <div class="text-white">
      Graphic Artist - Web Designer - Illustrator
    </div>
  </div>



</div>
